*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #4d4444;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}
.parent{
    width: 32%;
    height: 80%;
    border: 2px solid #ccc;
    border-radius: 1rem;
    position: relative;
}
.child{
    width: 53px;
    height: 53px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}
.scores{
    display: flex;
    justify-content: space-between;
    gap: 4.4rem;
    align-items: center;
}
button{
    width: fit-content;
    padding: 0.7rem 1.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(8, 80, 8, 0.63);
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    transition: all ease 1s;
}
span{
    position: relative;
    top: 2px;  
}
button:active{
    transform: scale(2.8);
}
.score{
    font-size: 0.7rem;
    color: white;
}
.score h1{
    font-weight: 200;

}

.gameover{
    width: 100%;
    height: 100%;
    background-color:#1a18189d;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    display: none;
    flex-direction: column;
    gap: 0.6rem;
}
.gameover h1{
    font-weight: 400;
}
.gameover button{
    background-color: rgb(0, 255, 136);
}

/* Tablet */
@media (max-width: 1024px) {
    .parent {
        width: 50%;
        height: 75%;
    }
    .child{
    width: 49px;
    height: 49px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}

    .gameover {
        font-size: 2.5rem;
    }
     button {
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
    }

    .scores{
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    align-items: center;
}
}

/* mobile */
@media (max-width: 480px) {
    .parent {
        width: 95%;
        height: 60%;
    }

    .child {
        width: 19%;
        height: 13%;
    }

    button {
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
    }

    .gameover {
        font-size: 1.5rem;
    }
    .scores{
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
    align-items: center;
}
.score{
    font-size: 0.6rem;
    color: white;
}

.parent{
    width: 97%;
    height: 82%;
    border: 2px solid #ccc;
    border-radius: 1rem;
    position: relative;
}
}