@font-face {
    font-family: for;
    src: url(./font/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.mainsections{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 12%;
    background-color: white;
     box-shadow: 0 13px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 14px;
    font-family: for;
    align-items: center;
}
.lobo{
    width: 2.3rem;
    height: 2.3rem;
    padding: 1rem;
    background-color: rgb(0, 128, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    color: white;
    font-size: 1.3rem;
}
.fintack{
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.hea_child1{
    display: flex;
    gap: 10px;
    padding: 3rem;
}
.hea_child2{
    display: flex;
    padding: 1.5rem;
    gap: 1.6rem;
    align-items: center;
}
.hea_child2 h3{
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.5s;
    color: rgb(97, 89, 89);
}
.hea_child2 h3:hover{
    color: rgb(16, 185, 129);
}
.hea_child2 .btn1{
    width: fit-content;
    padding: 0.6rem 0.4rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    border: none;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}
.hea_child2 .btn1:hover{
    color: rgb(16, 185, 129);
    background-color: #f0eaea;
    
}
.login-icon{
    font-size: 1rem;
}

.hea_child2 .btn2{
    width:7rem;
    padding: 0.6rem 0.4rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    border: none;
    background-color: rgb(16, 185, 129);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.hea_child2 .btn2:hover{
     background-color: rgb(15, 143, 100);

}
.nav{
    width: 100%;
    height: 88%;
   background-color: rgb(224, 241, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.freee h2{
    width: fit-content;
    padding: 0.2rem 1rem;
    border: 1px solid rgb(16, 185, 129);
    border-radius: 2rem;
    font-size: 0.9rem;
    color: rgb(16, 185, 129);
    font-weight: 600;
    font-family: for;
}
.mony h1{
    text-align: center;
    font-size: 4.7rem;
     background: linear-gradient(to right, #0b4f4c, #10b981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
}
.onee h3{
    text-align: center;
    font-weight: 400;
    line-height: 1.6rem;
    color: rgb(77, 70, 70);
    font-family: for;
    font-size: 1.1rem;
}
.bton{
    display: flex;
    gap: 2rem;
}
.bton .btn1{
     width:fit-content;
    padding: 0.4rem 0.7rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    border: none;
    background-color: rgb(16, 185, 129);
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: for;
}
.bton .btn2{
      width: 7rem;
    padding: 0.6rem 0.4rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    border: none;
    border: 2px solid #ccc;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    color:rgb(94, 88, 88);
}
.section2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 img{
    border-radius: 1rem;
    object-fit: cover;
}

.section3{
    width:100%;
    height: 110%;
    padding:100px 8%;
    background:#f8fafc;
    font-family: for;
}

.title{
    text-align:center;
    margin-bottom:10px;
}

.title span{
    font-size:13px;
    letter-spacing:3px;
    color:#10b981;
    font-weight:600;
}

.title h2{
    font-size:35px;
    font-weight:700;
    color:#0f172a;
    line-height: 3rem;
}

.feature-container{
    margin-top: 40px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:28px;
}

.card{
    background:#fff;
    border:1px solid #e8eef4;
    border-radius:18px;
    padding:19px 16px;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
    transition:.35s;
    cursor: pointer;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(0,0,0,.12);
}

.icon{
    width:40px;
    height:30px;
    background:#e9fbf3;
    border-radius:5px;
    display:flex;
    padding: 10px;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;
}

.icon i{
    font-size:24px;
    color:#10b981;
}

.card h3{
    font-size:18px;
    color:#0f172a;
    margin-bottom:15px;
    line-height: 1rem;
    font-weight: 500;
}

.card p{
    font-size:15px;
    color:#64748b;
    line-height:1.8;
}
.section4{
    width: 100%;
    height: 74%;
    background-color: white;
}
.section4 nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.section4 nav .main_div{
    display: flex;
    gap: 40px;
}
.textare{
    font-size: 15px;
    font-weight: 300;
    color: #09e99e;
    font-family: for;
}
.sec4-div1{
    width: 350px;
    padding: 15px;
    background-color: rgb(221, 214, 214);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.star{
    font-size: 18px;
    color: rgb(238, 174, 54);
}
.sec4-div1 h2{
    font-size: 15px;
    font-family: for;
    line-height: 1.5rem;
    font-weight: 400;
}
.sec4-div1 h4{
    font-size: 15px;
    font-family: for;
    line-height: 1.5rem;
    font-weight: 400;
}

.section5{
    width:100%;
    height: 90%;
    padding:100px;
    background:#f8fffc;
}
.section6{
    width:100%;
    height: 130%;
    padding:100px;
     background-color: rgb(224, 241, 235);
}


.heading{
    text-align:center;
    margin-bottom:70px;
}

.heading span{
    color:#00a86b;
    font-size:13px;
    font-family: for;
    font-weight:600;
    font-weight: 400;
}

.heading h2{
    font-size:37px;
    color:#0f172a;
    font-weight:700;
    font-family: for;
    line-height: 3rem;
}

.budget-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;
}

.left{
    flex:1;
}

.left img{
    width:100%;
    border-radius:20px;
    box-shadow:0 18px 45px rgba(0,0,0,.12);
}

.right{
    flex:1;
}

.right h3{
    font-size:26px;
    font-family: for;
    color:#0f172a;
    line-height:4rem;
}

.item{
    display:flex;
    align-items:center;
    gap:18px;
}

.item i{
    width:24px;
    height:24px;
    border:2px solid #10b981;
    color:#10b981;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    margin-top: 10px;
}

.item p{
    font-size:15px;
    font-family: for;
    line-height: 1rem;
    color:#334155;
}



.section7{
    width: 100%;
    height: 100%;
    padding:80px;
    margin-top: 20%;
    background:#f7f8fc;
    border-radius: 10px;
}

.container{
    width:100%;
   height: 80%;
    margin:auto;
}

.heading{
    text-align:center;
    margin-bottom:50px;
}

.heading h2{
    font-size:35px;
    font-weight:700;
    color:rgb(0, 128, 85);
    margin-bottom:15px;
}

.heading p{
    font-size:17px;
    font-family: for;
    line-height: 0.3rem;
     color:rgb(0, 128, 85);
    margin-bottom:10px;
}

.heading span{
     color:rgb(0, 128, 85);
    font-size:16px;
    line-height: 2rem;
}

.cards{
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.cardo{
    width:50%;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
    cursor: pointer;
}

.cardo:hover{
    transform:translateY(-8px);
}

.cardo img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
}

.overlay{
    background:#16233b;
    color:#fff;
}

.overlay h3{
    font-size:24px;
}

.overlay p{
    line-height:1.8;
    color:#d5d8e0;
}



.section8{
    width:100%;
    height: 50%;
    background:#f7f7f7;
}

.cta-box{
    max-width:800px;
    margin:auto;
    background:linear-gradient(135deg,#0ea56f,#25c5c0);
    border-radius:25px;
    text-align:center;
    padding:60px 20px;
    color:#fff;
    box-shadow:0 20px 35px rgba(16,185,129,.35);
}

.icon{
    font-size:40px;
    margin-bottom:20px;
    font-family: for;
    
}

.cta-box h2{
    font-size:35px;
    font-weight:700;
    margin-bottom:20px;
    font-family: for;
    line-height: 1rem;
}

.sub-title{
    font-size:17px;
    font-family: for;
    line-height: 1.3rem;
    margin-bottom:15px;
}

.description{
    font-size:16px;
    color:#ecfdf5;
    margin-bottom:30px;
}

.btns{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    text-decoration:none;
    padding:2px 16px;
    font-family: for;
    border-radius:14px;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

.btn-white{
    background:#fff;
    color:#0a8d66;
}

.btn-white:hover{
    background:#f3f4f6;
}

.btn-dark{
    width: 130px;
    background:#111827;
    color:#fff;
}

.btn-dark:hover{
    background:#000;
}

.section92{
    width: 100%;
    height: 20%;
}
.section92 footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.foo_div1 h4{
   font-family: for;
   font-weight: 400;
}
.foo_div2{
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: for;
}
.foo_div2 p{
    font-size: 15px;
}



.overlay-2{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
               url("https://images.unsplash.com/photo-1497366754035-f200968a6e72?w=1600") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    display: none;
}

.login-form{
    width:350px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(12px);
    padding:40px 30px;
    border-radius:15px;
    text-align:center;
    border:1px solid rgba(255,255,255,.2);
}

.login-form h2{
    color:#fff;
    margin-bottom:25px;
    font-size:30px;
    font-family: for;
    line-height: 1rem;
    color:rgb(12, 184, 126);
}

.login-form input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.login-form button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:rgb(12, 184, 126);
    color:#fff;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.login-form button:hover{
    background:rgb(8, 105, 73);
}

.login-form p{
    color:#fff;
    margin-top:18px;
    font-size:14px;
}

.login-form a{
    color:rgb(0, 128, 85);
    text-decoration:none;
    font-family: for;
}

.login-form a:hover{
    text-decoration:underline;
}



.overlay-3{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=1600") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    display: none;
}

.register-form{
    width:380px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:15px;
    padding:40px 35px;
    text-align:center;
}

.register-form h2{
   color:#fff;
    margin-bottom:25px;
    font-size:32px;
    font-family: for;
    line-height: 1rem;
    color:rgb(12, 184, 126);
}

.register-form input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.register-form button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:#28a745;
    color:#fff;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.register-form button:hover{
    background:#218838;
}

.register-form p{
    color:#fff;
    margin-top:18px;
    font-size:14px;
    font-family: for;
}

.register-form a{
    color:#ffd54f;
    text-decoration:none;
}

.register-form a:hover{
    text-decoration:underline;
}

.section10{
display:flex;
width:100%;
min-height:100vh;
background:#f5f7fb;
display: none;
z-index: -99;
}

/* Sidebar */

.side-panel{
width:260px;
background:#fff;
border-right:1px solid #ddd;
padding:25px 20px;
position: relative;
}

.logo-box{
display:flex;
align-items:center;
gap:15px;
margin-bottom:50px;
}
.addmony{
    position: fixed;
    bottom: 40px;
    left: 10px;
}
.addmony button{
    width: 220px;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 9px 15px;
    border: none;
    font-family: for;
    font-size: 15px;
    cursor: pointer;
    transition: all ease 1s;
}
.addmony button:active{
    transform: scale(2.3);
}

.logo-icon{
font-size:25px;
}

.logo-box h2{
font-size:18px;
font-family: for;
margin-bottom:5px;
}

.logo-box p{
color:#666;
font-size:14px;
font-family: for;
line-height: 0.4rem;
}

.menu-list{
list-style:none;
}

.menu-list li{
display:flex;
align-items:center;
gap:12px;
padding:10px 17px;
border-radius:12px;
font-size:17px;
font-family: for;
cursor:pointer;
margin-bottom:18px;
color:#444;
transition:.3s;
line-height: 2rem;
font-weight: 500;
}

.menu-list li:hover{
background:#dce8ff;
}

.menu-list .active{
background:#d8e7ff;
color:#1f4fd6;
font-weight:600;
}

/* Right */

.content-area{
flex:1;
display:flex;
flex-direction:column;
}

/* Header */

.top-bar{
height:80px;
background:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 35px;
border-bottom:1px solid #ddd;
}

.top-right{
display:flex;
align-items:center;
gap:30px;
}

.top-right span{
font-size:17px;
}

.top-right button{
padding:12px 17px;
border: none;
font-family: for;
background:#fff;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition: all ease 1s;
}
.top-right button:active{
    transform: scale(2.3);
}

/* Main */

.main-box{
padding:40px;
}

.main-box h1{
font-size:30px;
font-family: for;
color:#111;
}

.sub-text{
font-size:15px;
font-family: for;
color:#666;
margin-bottom:40px;
line-height: 1.3rem;
}

/* Cards */

.card-wrap{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.info-card{
background:#fff;
border:1px solid #ddd;
border-radius:16px;
padding:22px;
}

.icon{
width:40px;
height:40px;
border-radius:10px;
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
margin-bottom:25px;
}

.blue{
background:#d9e8ff;
color:#2458d3;
}

.green{
background:#dff6e5;
color:#118c42;
}

.red{
background:#fde0e0;
color:#d32f2f;
}

.info-card h4{
font-size:16px;
font-family: for;
font-weight:500;
margin-bottom:20px;
line-height: 1rem;
color:#555;
}

.info-card h2{
font-size:20px;
font-family: for;
font-weight:bold;
color:#111;
}

.green-text{
color:#0b8a47;
}

.red-text{
color:#b71c1c;
}

.graph-box{
    background:#fff;
    border:1px solid #ddd;
    border-radius:16px;
    padding:20px;
}

.graph{
    background:#f7f8fc;
    border-radius:12px;
    padding:20px;
}
.graph-main{
    padding: 20px;
}

#graphCanvas{
    width:100%;
    height:260px;
    display:block;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;

    background:
    repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 19px,
        #dcdcdc 20px
    );
}
.graph-wrapper{
    display:flex;
    align-items:stretch;
    gap: 15px;
}

.y-axis{
    width:35px;
    height:190px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:right;
    font-size:0.7rem;
    color:#666;
    font-family:for;
}
.graph-content{
    flex:1;
    position:relative;
}

#graphCanvas{
    flex:1;
    width:100%;
    display:block;
    border-left:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;

    background:
    repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 24px,
        #d8d8d8 25px
    );
}

.legend{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:15px;
}

.legend span{
    display:flex;
    align-items:center;
    gap:6px;
    font-family:for;
}

.legend i{
    width:35px;
    height:10px;
    display:block;
}

.green{
    background:#146c2e;
}

.red{
    background:#b51d1d;
}

.graph p{
    text-align:center;
    margin-top:15px;
    color:#666;
    font-family:for;
}
.bottom-area{
    display:flex;
    gap:20px;
    margin-top:35px;
    align-items:flex-start;
    padding: 20px;
}

/* LEFT */

.graph-card{
    flex:1;
    background:#fff;
    border:1px solid #ddd;
    border-radius:16px;
    padding:20px;
}

.graph-card h2{
    font-size:20px;
    font-family:for;
    margin-bottom:20px;
}

.graph-box{
    background:#f7f8fc;
    border-radius:10px;
    padding:15px;
}

.graph-legend{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-bottom:15px;
}

.graph-legend span{
    display:flex;
    align-items:center;
    gap:7px;
    font-family:for;
    font-size:14px;
}

.graph-legend i{
    width:38px;
    height:10px;
    display:block;
}

.income{
    background:#156b2f;
}

.expense{
    background:#a91d1d;
}

#graphCanvas{
    width:100%;
    height:250px;
    display:block;
    border-left:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;

    background:
    repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 24px,
        #d8d8d8 25px
    );
}

.graph-box p{
    text-align:center;
    margin-top:15px;
    color:#666;
    font-family:for;
}

/* RIGHT */

.preference-card{
    width:330px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:16px;
    padding:22px;
}
.mainpre{
    padding: 40px;
}

.preference-card h2{
    font-size:20px;
    font-family:for;
    margin-bottom:35px;
}

.dark-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.dark-box h4{
    font-family:for;
}

.preference-card hr{
    border:none;
    border-top:1px solid #e2e2e2;
    margin-bottom:20px;
}

.reset-btn{
    width:100%;
    padding:13px;
    border-radius:8px;
    border:1px solid #f2bcbc;
    background:#fff4f4;
    color:#c62828;
    font-family:for;
    cursor:pointer;
}

.switch{
    position:relative;
    width:48px;
    height:24px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    inset:0;
    background:#ccc;
    border-radius:20px;
    cursor:pointer;
}

.slider::before{
    content:"";
    width:18px;
    height:18px;
    background:#fff;
    position:absolute;
    left:3px;
    top:3px;
    border-radius:50%;
    transition:.3s;
}

.switch input:checked + .slider{
    background:#111;
}

.switch input:checked + .slider::before{
    transform:translateX(24px);
}

.transaction-card{
    width: 720px;
    margin-top:25px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:16px;
    padding:20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.trag-cardd{
    padding: 20px;
}
.transaction-card h2{
    font-family:for;
    font-size:20px;
    margin-bottom:25px;
}

.transaction-top{
    display:flex;
    justify-content:space-between;
    gap:15px;
    margin-bottom:10px;
}

.search-box{
    flex:1;
    display:flex;
    align-items:center;
    gap:10px;
    border:1px solid #e3e3e3;
    background:#f8f9fc;
    border-radius:10px;
    padding:6px 10px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:15px;
    font-family:for;
}

.transaction-top select{
    width:340px;
    border:1px solid #ddd;
    border-radius:10px;
    background:#f8f9fc;
    padding:3px 7px;
    font-size:15px;
    font-family:for;
    outline:none;
}

.transaction-table{
    width:100%;
    border-collapse:collapse;
}

.transaction-table th{
    text-align:left;
    padding:5px 4px;
    font-family:for;
    font-size:14px;
    color:#666;
    border-bottom:1px solid #ddd;
}

.transaction-table td{
    padding:5px 5px;
    font-family:for;
    border-bottom:1px solid #eee;
}

.empty-row td{
    text-align:center;
    color:#999;
    
}

.overlay4{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    display:flex;
    inset:0;
    background:rgba(0,0,0,.55);
    justify-content:center;
    align-items:center;
    z-index:9999;
    display: none;
}

.transaction-popup{
    width:400px;
    height: 88%;
    background:#fff;
    border-radius:16px;
    padding:24px;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.popup-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    line-height: 2rem;
}

.popup-head h2{
    font-family:for;
    font-size:20px;
    color:#222;
    
}

.close-popup{
    font-size:25px;
    cursor:pointer;
    color:#666;
}

.transaction-popup form{
    display:flex;
    flex-direction:column;
}

.transaction-popup label{
    font-family:for;
    font-size:16px;
    margin-bottom:8px;
    margin-top:15px;
}

.transaction-popup input,
.transaction-popup select{
    width:100%;
    height:48px;
    border:1px solid #d9d9d9;
    border-radius:8px;
    padding:0 14px;
    outline:none;
    font-size:15px;
    font-family:for;
}

.double-input{
    display:flex;
    gap:16px;
}

.double-input div{
    flex:1;
}

.transaction-popup button{
    margin-top:30px;
    height:50px;
    border:none;
    border-radius:8px;
    background:#000;
    color:#fff;
    font-family:for;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.transaction-popup button:hover{
    background:#222;
}

.mainsections.dark{
    background:#0f172a;
    color:#fff;
}

.mainsections.dark header{
    background:rgb(6, 6, 41);
}

.mainsections.dark .nav,
.mainsections.dark .section3,
.mainsections.dark .section5,
.mainsections.dark .section7,
.mainsections.dark .section8,
.mainsections.dark .section92{
    background:#0f172a;
}
.mainsections.dark .right h3,
.mainsections.dark .right p{
    color: #000 ;  
}

.mainsections.dark h1,
.mainsections.dark h2,
.mainsections.dark h3,
.mainsections.dark h4,
.mainsections.dark p
{
    color:#fff;
}
.budget-container.dark h3{
    color: white;
}
.mainsections.dark .card,
.mainsections.dark .sec4-div1,
.mainsections.dark .cardo{
    background:#1e293b;
    color:#fff;
    border-color:#334155;
}


/* Dashboard */

.section10.dark{
    background:#0f172a;
    color:#fff;
}

.section10.dark .side-panel,
.section10.dark .top-bar,
.section10.dark .info-card,
.section10.dark .graph-card,
.section10.dark .preference-card,
.section10.dark .transaction-card{
    background:#1e293b;
    color:#fff;
    border-color:#334155;
}

.section10.dark h1,
.section10.dark h2,
.section10.dark h3,
.section10.dark h4,
.section10.dark p,
.section10.dark span,
.section10.dark td,
.section10.dark th,
.section10.dark li{
    color:#fff;
}

.section10.dark input,
.section10.dark select{
    background:#334155;
    color:#fff;
    border:1px solid #475569;
}

.section10.dark .search-box{
    background:#334155;
}

.section10.dark #graphCanvas{
    border-color:#555;
}

.section10.dark .reset-btn{
    background:#7f1d1d;
    color:#fff;
}

.section10.dark .top-right button{
    background: transparent !important;
    color: #fff;
    border: none;
    box-shadow: none;
}


.section10.dark .top-right button:hover{
    background: transparent !important;
}


.section10.dark .top-right span{
    color: #fff !important;
}


#btoondelete{
    width: fit-content;
    padding: 6px 6px;
    border-radius: 0.5rem;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: red;
    color: white;

}






.overlay6{
    width:100%;
    height:100vh;
    display:none;
    background:#f7f8fc;
}

.sidebar6{
    width:260px;
    background:#fff;
    border-right:1px solid #e5e7eb;
    display:flex;
    flex-direction:column;
    padding:24px;
}

.logo6{
    display:flex;
    align-items:flex-start;
    gap:15px;
}

.logo6 .icon6{
    font-size:20px;
}

.logo6 h2{
    font-size:20px;
    font-family:for;
    font-weight:700;
}

.logo6 p{
    color:#6b7280;
    margin-top:6px;
    font-size:14px;
}

.nav6{
    margin-top:60px;
    display:flex;
    flex-direction:column;
    gap:14px;
}

.nav6 a{
    text-decoration:none;
    color:#475569;
    display:flex;
    align-items:center;
    gap:12px;
    padding:10px;
    border-radius:10px;
    font-size:17px;
    font-family:for;
}

.nav6 a.active6{
    background:#dbeafe;
    color:#1d4ed8;
}

.content{
    flex:1;
    display:flex;
    flex-direction:column;
}

.content header{
    height:80px;
    background:#fff;
    border-bottom:1px solid #e5e7eb;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
}

.user6{
    display:flex;
    align-items:center;
    gap:22px;
}

.user6 button{
    height:46px;
    padding:0 18px;
    border:1px solid #d1d5db;
    border-radius:8px;
    background:#fff;
    cursor:pointer;
}

.settingBox6{
    padding:48px 35px;
}

.settingBox6 h1{
    font-size:30px;
    font-family:for;
}

.settingBox6>p{
    color:#64748b;
    font-size:15px;
    font-family:for;
    margin-bottom:35px;
}

.card6{
    width:680px;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:15px;
    padding:28px;
}

.card6 h2{
    font-size:21px;
    font-family:for;
    margin-bottom:32px;
}

.row6{
    display:flex;
    gap:18px;
}

.field6{
    flex:1;
}

.field6 label{
    display:block;
    margin-bottom:12px;
    font-size:14px;
    font-family:for;
}

.field6 input,
.field6 select{
    width:100%;
    height:50px;
    border:1px solid #dcdfe4;
    border-radius:8px;
    padding:0 14px;
    font-size:17px;
    outline:none;
}

.saveBtn6{
    margin-top:40px;
    background:#000;
    color:#fff;
    border:none;
    border-radius:8px;
    padding:16px 24px;
    font-size:14px;
    cursor:pointer;
}